# Backend (C# / .NET)
Backend/SportsHome/bin/
Backend/SportsHome/obj/
Backend/SportsHome/.vs/
Backend/SportsHome/*.user
Backend/SportsHome/*.suo
Backend/SportsHome/*.log
Backend/SportsHome/appsettings.Development.json

# Database
Database/*.bak
Database/*.mdf
Database/*.ldf

# Docs
Docs/**/*.tmp